@import url('https://fonts.googleapis.com/css2?family=Mina&family=Zilla+Slab+Highlight&display=swap');
CSS rules to specify families html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Mina', sans-serif;
}

a {
  text-decoration: none;
  color: gray;
}

figure#img-div {
  margin: 0;
}

figure#img-div img {
  border-radius: 5px; 
}

figure#img-div img, section#tribute-info ul {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: auto;
}

main#main {
  display: grid;
  grid-template-columns: 1fr 60px;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "title sidebar" "content sidebar" "footer sidebar";
  max-width: 100%;
  gap: 35px;
}

main#main div {
  margin: 30px;
}

h1#title {
  font-size: 40px;
  grid-area: title;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  text-align: left;
  text-align: justify;
}

main#main nav {
  grid-area: sidebar;
  background-color: gray;
}

main#main div{
  grid-area: content;
}

main#main footer  {
  grid-area: footer;
}

nav#links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 0; 
  height: 100vh;
}

nav#links ul a i {
  color: black;
}